.icon-calendar { background-image: url('png/calendar.png'); background-repeat: no-repeat; }

.icon-final { background-image: url('png/final.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-standings { background-image: url('png/standings.png'); background-repeat: no-repeat; }

