$colors: (
	bg      : hsl(208, 69%, 52%),
	dk-bg   : hsl(209, 79%, 26%),
	txt     : hsl(0, 0%, 20%),
	gray    : hsl(0, 0%, 80%),
	lg-gray : hsl(0, 0%, 97%)
);

$fonts: (
	text      : 'Open Sans',
	optional  : sans-serif,
	sizes: (
		normal : 16px,
		small  : 13px
	)
);

$paths: (
	flags: '../../images/flags/'
) !default;