.matches {
	overflow: hidden;
}

.by-day {
	clear: both;
	float: left;
	width: 100%;	
}

.match {
	border-bottom: 1px solid;
	clear: both;
	float: left;
	width: 100%;

	&--time {
		left: -500px;
		margin: 0 auto;
		right: -500px;
		text-align: center;
		position: absolute;
		z-index: 1;

		@include breakpoint('large') {
			top: 6px;
		}

		@include breakpoint('small-to-medium') {
			top: 10px;
		}
	}
}