$th-subtitles: (
	bg     : map-get($colors, lg-gray),
	shadow : map-get($colors, gray),
	text   : darken-color(map-get($colors, gray), 30%)
) !default;

.matches--header {
	background-color: map-get($th-subtitles, bg);
	color: map-get($th-subtitles, shadow);

	h2 {
		color: map-get($th-subtitles, text);
	}
}