.navigation {
	@include sizes(150px, inherit);
	float: right;

	ul {
		height: inherit;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		@include sizes(50px, inherit);		
		display: inline-block;
		text-align: center;
	}

	button {
		height: inherit;
	}
	
	svg {
		@include sizes(23px);
		vertical-align: middle;
	}

	[class^='icon-'] {
		@include sizes(23px);
		background-size: 23px;
		display: inline-block;
	}

	li.actived {
		svg {
			animation: refresh .4s 1;
			position: relative;			
		}

		path {
			fill: white;
		}
	}
}

@keyframes refresh {
	0%   { left: 4px; }
	25%  { left: -4px }
	50%  { left: 4px; }
	75%  { left: -4px }
	100% { left: 0; }
}