.select-group {
	float: left;
	height: inherit;
	position: relative;
	width: 120px;

	button {
		text-transform: uppercase;
		font-weight: 700;
		width: 100%;		
	}

	&--current {
		height: inherit;
		text-align: left;
		padding-left: 30px;
		position: relative;
	}

	&--navicon {
		@include sizes(6px);
		border-radius: 6px;
		content: '';
		display: block;
		left: 10px;
		top: 26px;
		position: absolute;
		transition: .2s top;

		&:after, &:before {
			@include sizes(6px);
			border-radius: 6px;			
			content: '';
			left: 0;
			position: absolute;
			transition: .2s top;
		}

		&:before {
			top: -10px;
		}

		&:after {
			top: 10px;
		}
	}	

	.actived &--navicon {

		&:before, &:after {
			top: 0;
		}
	}

	&--list {
		height: 0;
		left: 0;
		list-style: none;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: absolute;
		transition: .2s height;
		text-align: center;
		top: 100%;
		width: 120px;
		z-index: 1;

		button {
			display: block;
			line-height: 40px;
			margin: auto;

			@include breakpoint('large') {
				font-size: .8rem;				
			}
		}

		li {
			@include sizes(100%, 40px);
			line-height: 40px;
		}
	}

	.actived &--list {
		height: 80px;
	}
}