$th-select-group: (
	bg      : map-get($th-header-main, bg),
	bg-dark : map-get($th-header-main, dark)
) !default;

.select-group {
	
	&--current {
		color: map-get($th-select-group, bg-dark);
	}

	&--navicon {
		background-color: map-get($th-select-group, bg-dark);

		&:before, &:after {
			background-color: map-get($th-select-group, bg-dark);			
		}
	}

	&--list {
		background-color: map-get($th-select-group, bg-dark);

		button {
			color: white;

			&:hover, &:focus, &:active {
				background-color: map-get($th-select-group, bg);
			}
		}
	}
}