// import all components

@import "header-main/base";
@import "titles/base";
@import "subtitles/base";
@import "matches/base";
@import "groups/base";
@import "final-phase/base";

.wrap {
	@include container();

	@include breakpoint('large') {
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: #f7f7f7;
		box-sizing: border-box;
	}
}