body,
input, textarea {
	font-family: map-get($fonts, text), map-get($fonts, optional);
	font-weight: 400;	
}

h1, h2, h3, h4 {
	font-weight: 700;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	padding: 0;

	&:focus, &:active {
		border: 0;
		outline: 0;
	}

	@include breakpoint(large) {
		font-size: map-fetch($fonts, sizes normal);
	}

	@include breakpoint(small-to-medium) {
		font-size: map-fetch($fonts, sizes small);
	}
}