@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  html {
    font-size: 13px;
  }
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 20px;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 0 10px;
}

h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 0 10px;
}

h5 {
  font-size: 0.7rem;
  font-weight: normal;
}

p {
  margin: 0 0 20px 0;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

figcaption {
  display: block;
  text-align: center;
  font-size: 13px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body,
input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}
button:focus, button:active {
  border: 0;
  outline: 0;
}
@media (min-width: 1024px) {
  button {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  button {
    font-size: 13px;
  }
}

.header-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  top: 0;
  padding: 0 10px;
  position: fixed;
  z-index: 4;
}
@media (min-width: 1024px) {
  .header-main {
    left: -500px;
    margin: 0 auto;
    right: -500px;
    width: 958px;
  }
}
@media (min-width: 1360px) {
  .header-main {
    width: 1198px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  .header-main {
    left: 0;
    width: 100%;
  }
}
.header-main h3 {
  height: inherit;
  float: left;
  font-size: 1rem;
  line-height: 60px;
  margin: 0;
  padding-left: 10px;
  text-transform: uppercase;
  width: 120px;
}

.header-main {
  background-color: #308ad9;
  color: #0e4477;
}

.select-group {
  float: left;
  height: inherit;
  position: relative;
  width: 120px;
}
.select-group button {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}
.select-group--current {
  height: inherit;
  text-align: left;
  padding-left: 30px;
  position: relative;
}
.select-group--navicon {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  content: '';
  display: block;
  left: 10px;
  top: 26px;
  position: absolute;
  -webkit-transition: .2s top;
          transition: .2s top;
}
.select-group--navicon:after, .select-group--navicon:before {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: .2s top;
          transition: .2s top;
}
.select-group--navicon:before {
  top: -10px;
}
.select-group--navicon:after {
  top: 10px;
}
.actived .select-group--navicon:before, .actived .select-group--navicon:after {
  top: 0;
}
.select-group--list {
  height: 0;
  left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  -webkit-transition: .2s height;
          transition: .2s height;
  text-align: center;
  top: 100%;
  width: 120px;
  z-index: 1;
}
.select-group--list button {
  display: block;
  line-height: 40px;
  margin: auto;
}
@media (min-width: 1024px) {
  .select-group--list button {
    font-size: .8rem;
  }
}
.select-group--list li {
  height: 40px;
  width: 100%;
  line-height: 40px;
}
.actived .select-group--list {
  height: 80px;
}

.select-group--current {
  color: #0e4477;
}
.select-group--navicon {
  background-color: #0e4477;
}
.select-group--navicon:before, .select-group--navicon:after {
  background-color: #0e4477;
}
.select-group--list {
  background-color: #0e4477;
}
.select-group--list button {
  color: white;
}
.select-group--list button:hover, .select-group--list button:focus, .select-group--list button:active {
  background-color: #308ad9;
}

.navigation {
  height: inherit;
  width: 150px;
  float: right;
}
.navigation ul {
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  height: inherit;
  width: 50px;
  display: inline-block;
  text-align: center;
}
.navigation button {
  height: inherit;
}
.navigation svg {
  height: 23px;
  width: 23px;
  vertical-align: middle;
}
.navigation [class^='icon-'] {
  height: 23px;
  width: 23px;
  background-size: 23px;
  display: inline-block;
}
.navigation li.actived svg {
  -webkit-animation: refresh .4s 1;
          animation: refresh .4s 1;
  position: relative;
}
.navigation li.actived path {
  fill: white;
}

@-webkit-keyframes refresh {
  0% {
    left: 4px;
  }
  25% {
    left: -4px;
  }
  50% {
    left: 4px;
  }
  75% {
    left: -4px;
  }
  100% {
    left: 0;
  }
}

@keyframes refresh {
  0% {
    left: 4px;
  }
  25% {
    left: -4px;
  }
  50% {
    left: 4px;
  }
  75% {
    left: -4px;
  }
  100% {
    left: 0;
  }
}
footer {
  padding: 30px 0;
  text-align: center;
}
footer a {
  text-decoration: underline;
}
footer p {
  margin-bottom: 0;
}
footer .icon-love {
  height: 15px;
  width: 15px;
  background-size: 15px;
  display: inline-block;
  margin: 0 4px;
}

footer a, footer p {
  color: #cccccc;
}

.titles {
  height: 40px;
  text-align: center;
}
.titles h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
}

.titles {
  background-color: #0e4477;
}
.titles h1 {
  color: white;
}

.matches--header {
  -webkit-box-shadow: 0 2px 2px;
          box-shadow: 0 2px 2px;
  height: 40px;
  text-align: center;
}
.matches--header h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 0;
}

.matches--header {
  background-color: #f7f7f7;
  color: #cccccc;
}
.matches--header h2 {
  color: #8e8e8e;
}

.matches {
  overflow: hidden;
}

.by-day {
  clear: both;
  float: left;
  width: 100%;
}

.match {
  border-bottom: 1px solid;
  clear: both;
  float: left;
  width: 100%;
}
.match--time {
  font-size: .9rem;
  left: -500px;
  margin: 0 auto;
  right: -500px;
  text-align: center;
  position: absolute;
  z-index: 1;
  -webkit-text-size-adjust: 100%;
}
@media (min-width: 1024px) {
  .match--time {
    top: 6px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  .match--time {
    top: 10px;
  }
}
.match--date {
  margin-bottom: 20px;
  text-align: center;
}

.match {
  border-bottom-color: #f7f7f7;
}
.match--time, .match--date {
  color: #8e8e8e;
}

.team--flag, .team--codename {
  float: left;
  margin-bottom: 0;
}
.team--flag {
  top: 2px;
  position: relative;
}
.team--codename {
  line-height: 34px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (min-width: 600px) {
  .team--codename {
    font-size: 1.2rem;
  }
}
@media (min-width: 240px) and (max-width: 599px) {
  .team--codename {
    font-size: 1rem;
  }
}

.team--flag [class^='flag-'] {
  height: 34px;
  width: 34px;
  background-size: 34px;
  display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-argentina {
    background-image: url("../../../images/flags/argentina/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-argentina {
    background-image: url("../../../images/flags/argentina/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-argentina {
    background-image: url("../../../images/flags/argentina/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-bolivia {
    background-image: url("../../../images/flags/bolivia/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-bolivia {
    background-image: url("../../../images/flags/bolivia/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-bolivia {
    background-image: url("../../../images/flags/bolivia/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-brasil {
    background-image: url("../../../images/flags/brasil/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-brasil {
    background-image: url("../../../images/flags/brasil/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-brasil {
    background-image: url("../../../images/flags/brasil/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-chile {
    background-image: url("../../../images/flags/chile/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-chile {
    background-image: url("../../../images/flags/chile/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-chile {
    background-image: url("../../../images/flags/chile/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-colombia {
    background-image: url("../../../images/flags/colombia/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-colombia {
    background-image: url("../../../images/flags/colombia/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-colombia {
    background-image: url("../../../images/flags/colombia/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-ecuador {
    background-image: url("../../../images/flags/ecuador/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-ecuador {
    background-image: url("../../../images/flags/ecuador/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-ecuador {
    background-image: url("../../../images/flags/ecuador/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-jamaica {
    background-image: url("../../../images/flags/jamaica/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-jamaica {
    background-image: url("../../../images/flags/jamaica/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-jamaica {
    background-image: url("../../../images/flags/jamaica/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-mexico {
    background-image: url("../../../images/flags/mexico/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-mexico {
    background-image: url("../../../images/flags/mexico/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-mexico {
    background-image: url("../../../images/flags/mexico/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-paraguay {
    background-image: url("../../../images/flags/paraguay/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-paraguay {
    background-image: url("../../../images/flags/paraguay/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-paraguay {
    background-image: url("../../../images/flags/paraguay/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-peru {
    background-image: url("../../../images/flags/peru/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-peru {
    background-image: url("../../../images/flags/peru/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-peru {
    background-image: url("../../../images/flags/peru/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-uruguay {
    background-image: url("../../../images/flags/uruguay/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-uruguay {
    background-image: url("../../../images/flags/uruguay/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-uruguay {
    background-image: url("../../../images/flags/uruguay/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-venezuela {
    background-image: url("../../../images/flags/venezuela/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-venezuela {
    background-image: url("../../../images/flags/venezuela/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-venezuela {
    background-image: url("../../../images/flags/venezuela/3x.png");
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1), only screen and (min-resolution: 96dpi), only screen and (min-resolution: 1dppx) {
  .flag-example {
    background-image: url("../../../images/flags/example/1x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .flag-example {
    background-image: url("../../../images/flags/example/2x.png");
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
  .flag-example {
    background-image: url("../../../images/flags/example/3x.png");
  }
}

.match--form {
  margin: 20px 0;
  position: relative;
}
.match--form fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.match--form input {
  height: 34px;
  width: 34px;
  border: 1px solid;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: .8rem;
  text-align: center;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.match--form label {
  display: inline-block;
  vertical-align: middle;
}
.match--form--team {
  float: left;
  text-align: center;
  position: relative;
  width: 50%;
  z-index: 2;
}

.match--form input {
  border-color: #cccccc;
}

.btn-refresh {
  height: 36px;
  width: 200px;
  border-radius: 2px;
  display: block;
  line-height: 36px;
  margin: 0 auto 20px;
}

.btn-refresh {
  background-color: #308ad9;
  color: white;
}

.groups {
  overflow: hidden;
}
.groups--team {
  border-bottom: 1px solid;
  overflow: hidden;
}
.groups--team--main, .groups--team--secondary {
  padding: 0 20px;
  overflow: hidden;
}
.groups--team--main {
  border-bottom: 1px solid;
  cursor: pointer;
  height: 60px;
  position: relative;
}
.groups--team--secondary {
  clear: both;
  height: 0;
  line-height: 40px;
  -webkit-transition: .2s height;
          transition: .2s height;
}
.groups--team--secondary > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  text-align: center;
  width: 16.66%;
}
.groups--team.actived .groups--team--secondary {
  height: 40px;
}
.groups--team--btn {
  height: 13px;
  width: 13px;
  position: absolute;
  right: 100px;
  top: 25px;
}
.groups--team--btn .icon-plus {
  height: 13px;
  width: 13px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  background-size: 13px;
  display: block;
  -webkit-transition: .2s -webkit-transform;
          transition: .2s transform;
}
.groups--team--who {
  float: left;
  padding: 11px 0;
}
.groups--team--points {
  height: inherit;
  width: 60px;
  float: right;
  line-height: 60px;
  text-align: center;
}

.groups--team {
  border-bottom-color: #f7f7f7;
}
.groups--team--highlight {
  color: #8e8e8e;
}
.groups--team--main {
  border-bottom-color: #f7f7f7;
}
.groups--team--points {
  background-color: #f7f7f7;
}

.final-phase {
  overflow: hidden;
}
.final-phase.disabled input {
  display: none;
}
.final-phase > div {
  clear: both;
  float: left;
  width: 100%;
}

.wrap {
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .wrap {
    width: 960px;
  }
}
@media (min-width: 1360px) {
  .wrap {
    width: 1200px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  .wrap {
    width: 100%;
  }
}
.wrap:after {
  clear: both;
  content: '';
  display: block;
}
@media (min-width: 1024px) {
  .wrap {
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #f7f7f7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

main {
  margin-top: 60px;
}

/*# sourceMappingURL=main.css.map */