@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  html {
    font-size: 13px;
  }
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin: 0 0 20px;
}

h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 0 10px;
}

h4 {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0 0 10px;
}

h5 {
  font-size: 0.7rem;
  font-weight: normal;
}

p {
  margin: 0 0 20px 0;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
}

figcaption {
  display: block;
  text-align: center;
  font-size: 13px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body,
input, textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}
button:focus, button:active {
  border: 0;
  outline: 0;
}
@media (min-width: 1024px) {
  button {
    font-size: 16px;
  }
}
@media (min-width: 240px) and (max-width: 1023px) {
  button {
    font-size: 13px;
  }
}

.header-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  padding: 0 10px;
  position: relative;
}
.header-main h3 {
  height: inherit;
  float: left;
  font-size: 1rem;
  line-height: 60px;
  margin: 0;
  padding-left: 30px;
  text-transform: uppercase;
  width: 120px;
}

.header-main {
  background-color: #308ad9;
  color: #0e4477;
}

.select-group {
  float: left;
  height: inherit;
  position: relative;
  width: 120px;
}
.select-group button {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}
.select-group--current {
  height: inherit;
  text-align: left;
  padding-left: 30px;
  position: relative;
}
.select-group--navicon {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  content: '';
  display: block;
  left: 10px;
  top: 26px;
  position: absolute;
  -webkit-transition: .2s top;
          transition: .2s top;
}
.select-group--navicon:after, .select-group--navicon:before {
  height: 6px;
  width: 6px;
  border-radius: 6px;
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: .2s top;
          transition: .2s top;
}
.select-group--navicon:before {
  top: -10px;
}
.select-group--navicon:after {
  top: 10px;
}
.actived .select-group--navicon:before, .actived .select-group--navicon:after {
  top: 0;
}
.select-group--list {
  height: 0;
  overflow: hidden;
  -webkit-transition: .2s height;
          transition: .2s height;
  left: 0;
  list-style: none;
  margin: 0;
  text-align: center;
  top: 100%;
  padding: 0;
  position: absolute;
  width: 120px;
}
.select-group--list button {
  display: block;
  line-height: 40px;
  margin: auto;
}
@media (min-width: 1024px) {
  .select-group--list button {
    font-size: .8rem;
  }
}
.select-group--list li {
  height: 40px;
  width: 100%;
  line-height: 40px;
}
.actived .select-group--list {
  height: 80px;
}

.select-group--current {
  color: #0e4477;
}
.select-group--navicon {
  background-color: #0e4477;
}
.select-group--navicon:before, .select-group--navicon:after {
  background-color: #0e4477;
}
.select-group--list {
  background-color: #0e4477;
}
.select-group--list button {
  color: white;
}
.select-group--list button:hover, .select-group--list button:focus, .select-group--list button:active {
  background-color: #308ad9;
}

.navigation {
  height: inherit;
  width: 150px;
  float: right;
}
.navigation ul {
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation li {
  height: inherit;
  width: 50px;
  display: inline-block;
  text-align: center;
}
.navigation button {
  height: inherit;
}
.navigation svg {
  height: 23px;
  width: 23px;
  vertical-align: middle;
}
.navigation [class^='icon-'] {
  height: 23px;
  width: 23px;
  background-size: 23px;
  display: inline-block;
}
.navigation li.actived svg path {
  fill: white;
}

.titles {
  height: 40px;
  text-align: center;
}
.titles h1 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
}

.titles {
  background-color: #0e4477;
}
.titles h1 {
  color: white;
}

.matches--header {
  height: 40px;
  text-align: center;
}
.matches--header h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
}

.matches--header {
  background-color: #f7f7f7;
}
.matches--header h2 {
  color: #8e8e8e;
}

/*# sourceMappingURL=main.css.map */