.header-main {
	box-sizing: border-box;
	height: 60px;
	padding: 0 10px;
	position: relative;

	h3 {
		height: inherit;
		float: left;
		font-size: 1rem;
		line-height: 60px;
		margin: 0;
		padding-left: 10px;
		text-transform: uppercase;
		width: 120px;
	}
}